
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.a { grid-area: a; }
.b { grid-area: b; }
.c { grid-area: c; }
.d { grid-area: d; }
.e { grid-area: e; }
.f { grid-area: f; }
.g { grid-area: g; }
.h { grid-area: h; }
.i { grid-area: i; }

.lab0 {
    display: grid;
    grid-template-areas:
      'a a a a a a a a a a'
      'b b c c c c d d d d'
      'b b e e f f g g h h'
      'b b i i i i i i i i';
    
  }