/* @media only screen and (min-width: 768px) and (max-width: 960px) and(min-height: 768px) {
    /* For Desctob: */
    /*.a {
      width: 960px;
      height: 100px;
    }
    .b {
        width: 200px;
        height: 600px;
      }
      .c {
        width: 39%;
        height: 28%;
      }
      .d {
        width: 39%;
        height: 28%;
      }
      .e {
        width: 19%;
        height: 30%;
      }
      .f {
        width: 19%;
        height: 30%;
      }
      .g {
        width: 19%;
        height: 30%;
      }
      .h {
        width: 19%;
        height: 30%;
      }
      .i {
        width: 80%;
        height: 100px;
      }
  } */

  @media screen and (min-width: 0px) and (max-width: 400px) {
    header, aside, div, footer { background-color: red; }
}
@media screen and (min-width: 401px) and (max-width: 599px) {
  header, aside, div, footer  { background-color: green; }
}
@media screen and (min-width: 786px) {
  header, aside, div, footer  { background-color: blue; }
}


/* @media only screen and (max-width: 767px) and (min-width: 480px) {
    /* For mobile phones: */
   /* .a {
        width: 100%;
        height: 14%;
      }
      .b {
          width: 20%;
          height: 78%;
        }
        .c {
          width: 39%;
          height: 28%;
        }
        .d {
          width: 39%;
          height: 28%;
        }
        .e {
          width: 19%;
          height: 30%;
        }
        .f {
          width: 19%;
          height: 30%;
        }
        .g {
          width: 19%;
          height: 30%;
        }
        .h {
          width: 19%;
          height: 30%;
        }
        .i {
          width: 80%;
          height: 100px;
        }
  } */